
* {
    margin: 0;
    padding: 0;
    font-family: 'BMHannaPro';
}
*::selection{background-color: #b7b6b600;}

#wrap {
    width: 2560px; height: 1250px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);

    /* top: 30px */
}

/*------------------------------------------------------------------------------*/
.box {
    box-sizing: border-box;
    width: 40%; height: 100%;
    border: 50px solid #000;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}
/*------------------------------------------------------------------------------*/
.left_box {
    box-sizing: border-box;
    width: 30%; height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    
}


/*------------------------------------------------------------------------------*/
.main_section {
    box-sizing: border-box;
    width: 100%; height: 100%;
    background-color: #A0CE9B;
}
/*------------------------------------------------------------------------------*/

.header {
    box-sizing: border-box;
    width: 98%; height: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-image: url("../../../image/kiosk_guide_img/frame_2560.png");
}

.dis_section_1 {
    box-sizing: border-box;
    width: 98%; height: 81%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input_box{
    width: 100%; height: 20%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#id_input,#pw_input{
    width: 70%; height: 50%;
    background-color: #A0CE9B;
    border-radius: 40px;
    border: 0px;
    padding-left: 5%;
    font-size: 40px;
    color: white;
}
input[type="password"] {
    font-family: "Arial", sans-serif; /* 기본 폰트 적용 */
    -webkit-text-security: disc;
    font-weight: bold;
  }
  
  /* Placeholder 색상 설정 */
  input::placeholder 
  {
    color: #ffffff; 
  }
.btn_box{
    width: 75%; height: 20%;
    /* border: 2px solid black; */

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login_btn,.join_btn{
    width: 45%; height: 50%;
    border: 0px solid red;
    border-radius: 40px;
    background-color: #6F9669;
    font-size: 50px;
    color: white;
}
.login_btn:hover,
.join_btn:hover{background-color: #8fb98bf4; cursor: pointer;}

input:focus{outline: 2px solid white;}



/*---------------------------------------------------------------------------*/

.footer {
    box-sizing: border-box;
    width: 98%; height: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.logo {
    width: 50px; height: 50px;
    border: 5px solid #000;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.logo:hover{background-color: #8eba8c;}
/*------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------*/
.right_box {
    box-sizing: border-box;
    width: 30%; height: 100%;
    display: flex;
    justify-content: center;
   
    
}

.login{
    width: 25%; height: 5%;
    background-color: #6D9668;
    border-radius: 15px;
    border: 0px;
    font-size: 35px;
    color: white;
    cursor: pointer;
    
}
.login:hover{background-color: #62845c;}
.login:active{position:relative; top:1px;}
/*------------------------------------------------------------------------------*/