
* {
    margin: 0;
    padding: 0;
    font-family: 'BMHannaPro';
}
*::selection{background-color: #b7b6b600;}

#wrap {
    width: 1900px; height: 900px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);

    /* top: 30px */
}

/*------------------------------------------------------------------------------*/
.box {
    box-sizing: border-box;
    width: 40%; height: 100%;
    border: 30px solid #000;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}
/*------------------------------------------------------------------------------*/
.left_box {
    box-sizing: border-box;
    width: 30%; height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    
}
.side_nav{
     height: 80%;     /*디폴트 width 13%    fixed width 4%*/
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;

}
.side_nav1 ,.side_nav2, .side_nav3, .side_nav4 {
    width: 100%; height: 25%;
    border: 6px solid #ABCBA4;
    border-right: 0px;
    background-color: rgba(255, 255, 255, 0);
    writing-mode: vertical-lr;

    
    font-size: 35px;
    color: #ABCBA4;
    padding-left: 18px;
    cursor: pointer;
}

.side_nav1{
    border-color: #779472;
    color: #779472;
}
.side_nav2{
    border-top: 0px;
}
.side_nav3{ 
    border-top: 0px;
}
.side_nav4{
    border-top: 0px;
}

.side_nav1:hover{background-color: rgba(165, 165, 165, 0.163);}
.side_nav2:hover{background-color: rgba(165, 165, 165, 0.163);}
.side_nav3:hover{background-color: rgba(165, 165, 165, 0.163);}
.side_nav4:hover{background-color: rgba(165, 165, 165, 0.163);}

/*------------------------------------------------------------------------------*/
.main_section {
    box-sizing: border-box;
    width: 100%; height: 100%;
    background-color: #A0CE9B;
}
/*------------------------------------------------------------------------------*/

.header {
    box-sizing: border-box;
    width: 98%; height: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-image: url("../../../image/kiosk_guide_img/frame_1920.png");
}

.dis_section_1 {
    box-sizing: border-box;
    width: 98%; height: 40%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;

}
.dis_text{
    width: 50%; height: 20%;
    /* border: 2px solid #000; */
    text-align: center;
    font-size: 30px;
    z-index: 1;
}
#user_name{font-size: 40px; font-weight: 600;}
#practice {color: #6E6E6E;}


.dis_img{
    box-sizing: border-box;
    width: 100%; height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../image/kiosk_guide_img/together.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.dis_section_2{
    box-sizing: border-box;
    width: 98%; height: 40%;
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.divide_1{
    width: 100%; height: 32%;
    /* border: 2px solid #000 ; */
    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 0px 20px;
}
.divide_2{
    width: 100%; height: 32%;
    /* border: 2px solid #000 ; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
    box-sizing: border-box;
    padding: 0px 20px;
}
.divide_3{
    width: 100%; height: 32%;
    /* border: 2px solid #000 ; */
    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 0px 20px;
}

.nav_btn_1{
    box-sizing: border-box;
    width: 33%; height: 70%;
    border: 0px;
    background-color: #6D9668;
    border-radius: 22px;
    color: white;
    font-size: 32px;
    text-align: center;
    cursor: pointer;

    margin-right: 20px;

}
.nav_btn_2{
    box-sizing: border-box;
    width: 33%; height: 70%;
    border: 0px;
    background-color: #6D9668;
    border-radius: 22px;
    color: white;
    font-size: 32px;
    text-align: center;
    cursor: pointer;
    
    margin-left: 20px;
    
}
.nav_btn_3{
    box-sizing: border-box;
    width: 33%; height: 70%;
    border: 0px;
    background-color: #6D9668;
    border-radius: 22px;
    color: white;
    font-size: 32px;
    text-align: center;
    cursor: pointer;

    margin-right: 20px;
}
.nav_btn_1:hover{background-color: #6d9668d7;}
.nav_btn_2:hover{background-color: #6d9668d7;}
.nav_btn_3:hover{background-color: #6d9668d7;}

.text_1,.text_2,.text_3{
    width: 60%;
    font-size: 25px;
    text-align:center;
    /* border: 1px solid red; */
}

/*---------------------------------------------------------------------------*/

.footer {
    box-sizing: border-box;
    width: 98%; height: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.logo {
    width: 35px; height: 35px;
    border: 4px solid #000;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.logo:hover{background-color: #8eba8c;}
/*------------------------------------------------------------------------------*/

.side_nav{
    width: 4%; height: 80%;     /*디폴트 width 13%    fixed width 4%*/
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;

    position: fixed; 
    
    
}
.side_nav1 ,.side_nav2/*, .side_nav3, .side_nav4 */ {
    width: 100%; height: 50%;
    border: 6px solid #ABCBA4;
    border-right: 0px;
    background-color: rgba(255, 255, 255, 0);
    writing-mode: vertical-lr;

    
    font-size: 35px;
    color: #ABCBA4;
    padding-left: 20px;
    cursor: pointer;
}

.side_nav1{
    background-color: #779472;
    border-color: #577052;
    color: white;
}
.side_nav2{
    border-top: 0px;
}
/* .side_nav3{ 
    border-top: 0px;
}
.side_nav4{
    border-top: 0px;
} */

.side_nav1:hover{background-color: rgba(165, 165, 165, 0.911);}
.side_nav2:hover{background-color: rgba(165, 165, 165, 0.163);}
/* .side_nav3:hover{background-color: rgba(165, 165, 165, 0.163);}
.side_nav4:hover{background-color: rgba(165, 165, 165, 0.163);} */

/*------------------------------------------------------------------------------*/
.right_box {
    box-sizing: border-box;
    width: 30%; height: 100%;
    display: flex;
    justify-content: center;
   
    
}

.login{
    width: 25%; height: 5%;
    background-color: #6D9668;
    border-radius: 15px;
    border: 0px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    
}
.login:hover{background-color: #62845c;}
.login:active{position:relative; top:1px;}
/*------------------------------------------------------------------------------*/