{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head> 
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>after_login_1920</title>
    <link rel="stylesheet" media="screen and (max-width:1920px)" href="{% static '/css/kiosk/caffe_main/caffe_main_1920.css' %}?after">
    <link rel="stylesheet" media="screen and (min-width:1921px) and (max-width:2560px)" href="{% static '/css/kiosk/caffe_main/caffe_main_2560.css' %}?after">
    <link href="https://webfontworld.github.io/BMHannaPro/BMHannaPro.css" rel="stylesheet"> <!-- 배달의 민족 한나체 (호스팅방식) -->
</head>

<body>
    <div id="wrap">
        <div class=left_box>
            <div class="side_nav">
                <button class="side_nav1" type="button" onclick="location.href='{% url 'kiosk' %}'">키오스크</button>
                {% comment %} <button class="side_nav2" type="button" onclick="location.href='#';">은행</button>
                <button class="side_nav3" type="button" onclick="location.href='#';">버스</button> {% endcomment %}
                <button class="side_nav2" type="button" onclick="location.href='#';">게시판</button>
            </div>
        </div>

        <div class="box">
            <div class="main_section">
                <div class="header">
                    {% comment %} <svg 
                        width="686" height="84" viewBox="0 0 686 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="62.3636" height="56" fill="#6F9669"/>
                        <ellipse cx="31.1818" cy="56" rx="31.1818" ry="28" fill="#6F9669"/>
                        <rect x="623.636" width="62.3636" height="56" fill="#6F9669"/>
                        <ellipse cx="654.818" cy="56" rx="31.1818" ry="28" fill="#6F9669"/>
                        <rect x="561.273" width="62.3636" height="56" fill="white"/>
                        <ellipse cx="592.455" cy="56" rx="31.1818" ry="28" fill="white"/>
                        <rect x="561.273" width="62.3636" height="56" fill="white"/>
                        <ellipse cx="592.455" cy="56" rx="31.1818" ry="28" fill="white"/>
                        <rect x="498.909" width="62.3636" height="56" fill="#6F9669"/>
                        <ellipse cx="530.091" cy="56" rx="31.1818" ry="28" fill="#6F9669"/>
                        <rect x="436.545" width="62.3636" height="56" fill="white"/>
                        <ellipse cx="467.727" cy="56" rx="31.1818" ry="28" fill="white"/>
                        <rect x="374.182" width="62.3636" height="56" fill="#6F9669"/>
                        <ellipse cx="405.364" cy="56" rx="31.1818" ry="28" fill="#6F9669"/>
                        <rect x="311.818" width="62.3636" height="56" fill="white"/>
                        <ellipse cx="343" cy="56" rx="31.1818" ry="28" fill="white"/>
                        <rect x="311.818" width="62.3636" height="56" fill="white"/>
                        <ellipse cx="343" cy="56" rx="31.1818" ry="28" fill="white"/>
                        <rect x="249.455" width="62.3636" height="56" fill="#6F9669"/>
                        <ellipse cx="280.636" cy="56" rx="31.1818" ry="28" fill="#6F9669"/>
                        <rect x="187.091" width="62.3636" height="56" fill="white"/>
                        <ellipse cx="218.273" cy="56" rx="31.1818" ry="28" fill="white"/>
                        <rect x="124.727" width="62.3636" height="56" fill="#6F9669"/>
                        <ellipse cx="155.909" cy="56" rx="31.1818" ry="28" fill="#6F9669"/>
                        <rect x="62.3636" width="62.3636" height="56" fill="white"/>
                        <ellipse cx="93.5454" cy="56" rx="31.1818" ry="28" fill="white"/>
                        <rect x="62.3636" width="62.3636" height="56" fill="white"/>
                        <ellipse cx="93.5454" cy="56" rx="31.1818" ry="28" fill="white"/>
                    </svg>  {% endcomment %}
                </div>
                <div class="dis_section_1">
                    <div class="dis_text"><span id="user_name">{{user.username}}</span> 님!<br><span id="practice">연습을 시작해 볼까요?</span></div>
                    <div class="dis_img"></div>
                </div>

                <div class="dis_section_2">
                    <div class="divide_1"> 
                        <button class="nav_btn_1" type="button" onclick="location.href='{% url 'guide' %}'">설명보러 GO!</button>
                        <div class="text_3">연습과 퀴즈를 풀기 전 자세한 설명을 보며 이해도를 높혀요.</div>
                    </div>
                    <div class="divide_2">
                        <button class="nav_btn_2" type="button" onclick="location.href='{% url 'simulator' %}'">연습하러 GO!</button>
                        <div class="text_1">실제 키오스크 같은 생생한 화면으로 시뮬레이션을 해봐요.</div>
                    </div>
                    <div class="divide_3">
                        <button class="nav_btn_3" type="button" onclick="location.href='{% url 'quiz' %}'">퀴즈풀러 GO!</button>
                        <div class="text_2">난이도별 퀴즈를 단계별로 풀어 메달을 획득해 봐요.</div>
                    </div>
                </div>

                <div class = "footer">
                    <div class = "logo" onclick="location.href='{% url 'index' %}'"></div>
                </div>
            </div>
        </div>

        <div class=right_box>
            {% if user.is_authenticated %}
            <button class="login" type="button" onclick="location.href='{% url 'logout' %}'">로그아웃</button>
            {% else %}
            <button class="login" type="button" onclick="location.href='{% url 'login' %}'">로그인</button>
            {% endif %}
        </div>
    </div>
</body>

</html>